<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>mp3URL</key>
		<string>test</string>
		<key>playing</key>
		<integer>0</integer>
		<key>songName</key>
		<string>下个路口，再见！</string>
		<key>downloadProgress</key>
		<real>0</real>
		<key>downloading</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>mp3URL</key>
		<string>001&amp;002－Excuse Me</string>
		<key>playing</key>
		<integer>1</integer>
		<key>songName</key>
		<string>彩虹</string>
		<key>downloadProgress</key>
		<real>0</real>
		<key>downloading</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>mp3URL</key>
		<string>001&amp;002－Excuse Me</string>
		<key>playing</key>
		<integer>0</integer>
		<key>songName</key>
		<string>半岛铁盒</string>
		<key>downloadProgress</key>
		<real>0.35</real>
		<key>downloading</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>mp3URL</key>
		<string>001&amp;002－Excuse Me</string>
		<key>playing</key>
		<integer>0</integer>
		<key>songName</key>
		<string>东风破</string>
		<key>downloadProgress</key>
		<real>0</real>
		<key>downloading</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>mp3URL</key>
		<string>001&amp;002－Excuse Me</string>
		<key>playing</key>
		<integer>0</integer>
		<key>songName</key>
		<string>半兽人</string>
		<key>downloadProgress</key>
		<real>0.68</real>
		<key>downloading</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>mp3URL</key>
		<string>001&amp;002－Excuse Me</string>
		<key>playing</key>
		<integer>0</integer>
		<key>songName</key>
		<string>爱在西元前</string>
		<key>downloadProgress</key>
		<real>1</real>
		<key>downloading</key>
		<integer>1</integer>
	</dict>
	<dict>
		<key>mp3URL</key>
		<string>001&amp;002－Excuse Me</string>
		<key>playing</key>
		<integer>0</integer>
		<key>songName</key>
		<string>青花瓷</string>
		<key>downloadProgress</key>
		<real>0</real>
		<key>downloading</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>mp3URL</key>
		<string>001&amp;002－Excuse Me</string>
		<key>playing</key>
		<integer>0</integer>
		<key>songName</key>
		<string>最后的战役</string>
		<key>downloadProgress</key>
		<real>0</real>
		<key>downloading</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>mp3URL</key>
		<string>001&amp;002－Excuse Me</string>
		<key>playing</key>
		<integer>0</integer>
		<key>songName</key>
		<string>迷迭香</string>
		<key>downloadProgress</key>
		<real>0</real>
		<key>downloading</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>mp3URL</key>
		<string>001&amp;002－Excuse Me</string>
		<key>playing</key>
		<integer>0</integer>
		<key>songName</key>
		<string>以父之名</string>
		<key>downloadProgress</key>
		<real>0</real>
		<key>downloading</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
