<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lessonTitle</key>
		<string>第一册</string>
		<key>songList</key>
		<array>
			<string>001&amp;002－Excuse Me.mp3</string>
			<string>003&amp;004－Sorry, Sir..mp3</string>
			<string>005&amp;006－Nice to Meet You..mp3</string>
			<string>007&amp;008－Are You a Teacher.mp3</string>
			<string>009&amp;010－How Are You Today.mp3</string>
			<string>011&amp;012－Is This Your Shirt.mp3</string>
			<string>013&amp;014－A New Dress.mp3</string>
			<string>015&amp;016－Your Passports, Please..mp3</string>
			<string>017&amp;018－How do you do.mp3</string>
			<string>019&amp;020－Tired and Thirsty.mp3</string>
			<string>021&amp;022－Which Book.mp3</string>
			<string>023&amp;024－Which Glasses.mp3</string>
			<string>025&amp;026－Mrs. Smith's Kitchen.mp3</string>
			<string>027&amp;028－Mrs. Smith's Living Room.mp3</string>
			<string>029&amp;030－Come In, Amy..mp3</string>
			<string>031&amp;032－Where's Sally.mp3</string>
			<string>033&amp;034－A Fine Day.mp3</string>
			<string>035&amp;036－Our Village.mp3</string>
			<string>037&amp;038－Making a Bookcase.mp3</string>
			<string>039&amp;040－Don't Drop It.mp3</string>
			<string>041&amp;042－Penny's Bag.mp3</string>
			<string>043&amp;044－Hurry Up.mp3</string>
			<string>045&amp;046－The Boss's Letter.mp3</string>
			<string>047&amp;048－A Cup of Coffee.mp3</string>
			<string>049&amp;050－At the Butcher's.mp3</string>
			<string>051&amp;052－A Pleasant Climate.mp3</string>
			<string>053&amp;054－An Interesting Climate.mp3</string>
			<string>055&amp;056－The Sawyer Family.mp3</string>
			<string>057&amp;058－An Unusual Day.mp3</string>
			<string>059&amp;060－Is That All.mp3</string>
			<string>061&amp;062－A Bad Cold.mp3</string>
			<string>063&amp;064－Thank You, Doctor..mp3</string>
			<string>065&amp;066－Not a Baby.mp3</string>
			<string>067&amp;068－The Weekend.mp3</string>
			<string>069&amp;070－The Car Race.mp3</string>
			<string>071&amp;072－He's Awful.mp3</string>
			<string>073&amp;074－The Way to King Street.mp3</string>
			<string>075&amp;076－Uncomfortable Shoes.mp3</string>
			<string>077&amp;078－Terrible Toothache.mp3</string>
			<string>079&amp;080－Carol's Shopping List.mp3</string>
			<string>081&amp;082－Roast Beef and Potatoes.mp3</string>
			<string>083&amp;084－Going on Holiday.mp3</string>
			<string>085&amp;086－Paris in the Spring..mp3</string>
			<string>087&amp;088－A Car Crash.mp3</string>
			<string>089&amp;090－For Sale.mp3</string>
			<string>091&amp;092－Poor Ian.mp3</string>
			<string>093&amp;094－Our New Neighbour.mp3</string>
			<string>095&amp;096－Tickets, Please..mp3</string>
			<string>097&amp;098－A Small Blue Case.mp3</string>
			<string>099&amp;100－Ow.mp3</string>
			<string>101&amp;102－A Card From Jimmy.mp3</string>
			<string>103&amp;104－The French Test.mp3</string>
			<string>105&amp;106－Full of Mistakes.mp3</string>
			<string>107&amp;108－It's Too Small..mp3</string>
			<string>109&amp;110－A Good Idea.mp3</string>
			<string>111&amp;112－The Most Expensive Model.mp3</string>
			<string>113&amp;114－Small Change.mp3</string>
			<string>115&amp;116－Knock, Knock.mp3</string>
			<string>117&amp;118－Tommy's Breakfast.mp3</string>
			<string>119&amp;120－A True Story.mp3</string>
			<string>121&amp;122－The Man in a Hat.mp3</string>
			<string>123&amp;124－A Trip to Australia.mp3</string>
			<string>125&amp;126－Tea for Two.mp3</string>
			<string>127&amp;128－A Famous Actress.mp3</string>
			<string>129&amp;130－Seventy Miles an Hour.mp3</string>
			<string>131&amp;132－Don't be So Sure.mp3</string>
			<string>133&amp;134－Sensational News.mp3</string>
			<string>135&amp;136－The Latest Report.mp3</string>
			<string>137&amp;138－A Pleasant Dream.mp3</string>
			<string>139&amp;140－Is That You, John.mp3</string>
			<string>141&amp;142－Sally's First Train Ride.mp3</string>
			<string>143&amp;144－A Walk Through the Woods.mp3</string>
		</array>
	</dict>
	<dict>
		<key>lessonTitle</key>
		<string>第二册</string>
		<key>songList</key>
		<array>
			<string>01－A Private Conversation.mp3</string>
			<string>02－Breakfast or Lunch.mp3</string>
			<string>03－Please Send Me a Card.mp3</string>
			<string>04－An Exciting Trip.mp3</string>
			<string>05－No Wrong Numbers.mp3</string>
			<string>06－Percy Buttons.mp3</string>
			<string>07－Too Late.mp3</string>
			<string>08－The Best and the Worst.mp3</string>
			<string>09－A Cold Welcome.mp3</string>
			<string>10－Not for Jazz.mp3</string>
			<string>11－One Good Turn Deserves Another.mp3</string>
			<string>12－Goodbye and Good Luck.mp3</string>
			<string>13－The Greenwood Boys.mp3</string>
			<string>14－Do You Speak English.mp3</string>
			<string>15－Good News.mp3</string>
			<string>16－A Polite Request.mp3</string>
			<string>17－Always Young.mp3</string>
			<string>18－He Often does This.mp3</string>
			<string>19－Sold Out.mp3</string>
			<string>20－One Man in a Boat.mp3</string>
			<string>21－Mad or Not.mp3</string>
			<string>22－A Glass Envelope.mp3</string>
			<string>23－A New House.mp3</string>
			<string>24－It Could be Worse.mp3</string>
			<string>25－Do the English Speak English.mp3</string>
			<string>26－The Best Art Critics.mp3</string>
			<string>27－A Wet Night.mp3</string>
			<string>28－No Parking.mp3</string>
			<string>29－Taxi.mp3</string>
			<string>30－Football or Polo.mp3</string>
			<string>31－Success Story.mp3</string>
			<string>32－Shopping Made Easy.mp3</string>
			<string>33－Out of the Darkness.mp3</string>
			<string>34－Quick Work.mp3</string>
			<string>35－Stop Thief.mp3</string>
			<string>36－Across the Channel.mp3</string>
			<string>37－The Olympic Games.mp3</string>
			<string>38－Everything Except the Weather.mp3</string>
			<string>39－Am I All Right.mp3</string>
			<string>40－Food and Talk.mp3</string>
			<string>41－Do You Call That a Hat.mp3</string>
			<string>42－Not Very Musical.mp3</string>
			<string>43－Over the South Pole.mp3</string>
			<string>44－Through the Forest.mp3</string>
			<string>45－A Clear Conscience.mp3</string>
			<string>46－Expensive and Uncomfortable.mp3</string>
			<string>47－A Thirsty Ghost.mp3</string>
			<string>48－Did You Want to Tell Me Something.mp3</string>
			<string>49－The End of a Dream.mp3</string>
			<string>50－Taken for a Ride.mp3</string>
			<string>51－Reward for Virtue.mp3</string>
			<string>52－A Pretty Carpet.mp3</string>
			<string>53－Hot Snake.mp3</string>
			<string>54－Sticky Fingers.mp3</string>
			<string>55－Not a Gold Mine.mp3</string>
			<string>56－Faster Than Sound.mp3</string>
			<string>57－Can I Help You, Madam.mp3</string>
			<string>58－A Blessing in Disguise.mp3</string>
			<string>59－In or Out.mp3</string>
			<string>60－The Future.mp3</string>
			<string>61－Trouble with the Hubble.mp3</string>
			<string>62－After the Fire.mp3</string>
			<string>63－She Was Not Amused.mp3</string>
			<string>64－The Channel Tunnel.mp3</string>
			<string>65－Jumbo Versus the Police.mp3</string>
			<string>66－Sweet as Honey.mp3</string>
			<string>67－Volcanoes.mp3</string>
			<string>68－Persistent.mp3</string>
			<string>69－But not Murder.mp3</string>
			<string>70－Red for Danger.mp3</string>
			<string>71－A Famous Clock.mp3</string>
			<string>72－A Car Called Bluebird.mp3</string>
			<string>73－The Record-Holder.mp3</string>
			<string>74－Out of the Limelight.mp3</string>
			<string>75－SOS.mp3</string>
			<string>76－April Fools' Day.mp3</string>
			<string>77－A Successful Operation.mp3</string>
			<string>78－The Last One.mp3</string>
			<string>79－By Air.mp3</string>
			<string>80－The Crystal Palace.mp3</string>
			<string>81－Escape.mp3</string>
			<string>82－Monster or Fish.mp3</string>
			<string>83－After the Elections.mp3</string>
			<string>84－On Strike.mp3</string>
			<string>85－Never Too Old To Learn.mp3</string>
			<string>86－Out of Control.mp3</string>
			<string>87－A Perfect Alibi.mp3</string>
			<string>88－Trapped in a Mine.mp3</string>
			<string>89－A Slip of the Tongue.mp3</string>
			<string>90－What's for Supper.mp3</string>
			<string>91－Three Men in a Basket.mp3</string>
			<string>92－Asking for Trouble.mp3</string>
			<string>93－A Noble Gift.mp3</string>
			<string>94－Future Champions.mp3</string>
			<string>95－A Fantasy.mp3</string>
			<string>96－The Dead Return.mp3</string>
		</array>
	</dict>
	<dict>
		<key>lessonTitle</key>
		<string>第三册</string>
		<key>songList</key>
		<array>
			<string>01－A Puma at Large.mp3</string>
			<string>02－Thirteen Equals One.mp3</string>
			<string>03－An Unknown Goddess.mp3</string>
			<string>04－The Double Life of Alfred Bloggs.mp3</string>
			<string>05－The Facts.mp3</string>
			<string>06－Smash-and-Grab.mp3</string>
			<string>07－Mutilated Ladies.mp3</string>
			<string>08－A Famous Monastery.mp3</string>
			<string>09－Flying Cats.mp3</string>
			<string>10－The Loss of the Titanic.mp3</string>
			<string>11－Not Guilty.mp3</string>
			<string>12－Life on a Desert Island.mp3</string>
			<string>13－It's Only Me.mp3</string>
			<string>14－A Noble Gangster.mp3</string>
			<string>15－Fifty Pence Worth of Trouble.mp3</string>
			<string>16－Mary Had a Little Lamb.mp3</string>
			<string>17－The Longest Suspension Bridge in the World.mp3</string>
			<string>18－Electric Currents in Modern Art.mp3</string>
			<string>19－A Very Dear Cat.mp3</string>
			<string>20－Pioneer Pilots.mp3</string>
			<string>21－Daniel Mendoza.mp3</string>
			<string>22－By Heart.mp3</string>
			<string>23－One Man's Meat is Another Man's Poison.mp3</string>
			<string>24－A Skeleton in the Cupboard.mp3</string>
			<string>25－The Cutty Sark.mp3</string>
			<string>26－Wanted a Large Biscuit Tin.mp3</string>
			<string>27－Nothing to Sell and Nothing to Buy.mp3</string>
			<string>28－Five Pounds Too Dear.mp3</string>
			<string>29－Funny or Not.mp3</string>
			<string>30－The Death of a Ghost.mp3</string>
			<string>31－A Lovable Eccentric.mp3</string>
			<string>32－A Lost Ship.mp3</string>
			<string>33－A Day to Remember.mp3</string>
			<string>34－A Happy Discovery.mp3</string>
			<string>35－Justice was Done.mp3</string>
			<string>36－A Chance in a Million.mp3</string>
			<string>37－The Westhaven Express.mp3</string>
			<string>38－The First Calendar.mp3</string>
			<string>39－Nothing to Worry About.mp3</string>
			<string>40－Who's Who.mp3</string>
			<string>41－Illusions of Pastoral Peace.mp3</string>
			<string>42－Modern Cavemen.mp3</string>
			<string>43－Fully Insured.mp3</string>
			<string>44－Speed and Comfort.mp3</string>
			<string>45－The Power of the Press.mp3</string>
			<string>46－Do It Yourself.mp3</string>
			<string>47－Too High a Price.mp3</string>
			<string>48－The Silent Village.mp3</string>
			<string>49－The Ideal Servant.mp3</string>
			<string>50－New Year Resolutions.mp3</string>
			<string>51－Predicting the Future.mp3</string>
			<string>52－Mud is Mud.mp3</string>
			<string>53－In the Public Interest.mp3</string>
			<string>54－Instinct or Cleverness.mp3</string>
			<string>55－From the Earth Greetings.mp3</string>
			<string>56－Our Neighbour, the River.mp3</string>
			<string>57－Back in the Old Country.mp3</string>
			<string>58－A Spot of Bother.mp3</string>
			<string>59－Collecting.mp3</string>
			<string>60－Too Early and Too Late.mp3</string>
		</array>
	</dict>
	<dict>
		<key>lessonTitle</key>
		<string>第四册</string>
		<key>songList</key>
		<array>
			<string>01－Finding Fossil Man.mp3</string>
			<string>02－Spare That Spider.mp3</string>
			<string>03－Matterhorn Man.mp3</string>
			<string>04－Seeing Hands.mp3</string>
			<string>05－Youth.mp3</string>
			<string>06－The Sporting Spirit.mp3</string>
			<string>07－Bats.mp3</string>
			<string>08－Trading Standards.mp3</string>
			<string>09－Royal Espionage.mp3</string>
			<string>10－Silicon Valley.mp3</string>
			<string>11－How to Grow Old.mp3</string>
			<string>12－Banks and Their Customers.mp3</string>
			<string>13－The Search for Oil.mp3</string>
			<string>14－The Butterfly Effect.mp3</string>
			<string>15－Secrecy in Industry.mp3</string>
			<string>16－The Modern City.mp3</string>
			<string>17－A Man-made Disease.mp3</string>
			<string>18－Porpoises.mp3</string>
			<string>19－The Stuff of Dreams.mp3</string>
			<string>20－Snake Poison.mp3</string>
			<string>21－William S. Hart and the Early Western Film.mp3</string>
			<string>22－Knowledge and Progress.mp3</string>
			<string>23－Bird Flight.mp3</string>
			<string>24－Beauty.mp3</string>
			<string>25－Non-Auditory Effects of Noise.mp3</string>
			<string>26－The Past Life of the Earth.mp3</string>
			<string>27－The vasa.mp3</string>
			<string>28－Patients and Doctors.mp3</string>
			<string>29－The Hovercraft.mp3</string>
			<string>30－Exploring the Sea-Floor.mp3</string>
			<string>31－The Sculptor Speaks.mp3</string>
			<string>32－Galileo Reborn.mp3</string>
			<string>33－Education.mp3</string>
			<string>34－Adolescence.mp3</string>
			<string>35－Space Odyssey.mp3</string>
			<string>36－The Cost of Government.mp3</string>
			<string>37－The Process of Ageing.mp3</string>
			<string>38－Water and the Traveller.mp3</string>
			<string>39－What Every Writer Wants.mp3</string>
			<string>40－Waves.mp3</string>
			<string>41－Training Elephants.mp3</string>
			<string>42－Recording an Earthquake.mp3</string>
			<string>43－Are There Strangers in Space.mp3</string>
			<string>44－Patterns of Culture.mp3</string>
			<string>45－Of Men and Galaxies.mp3</string>
			<string>46－Hobbies.mp3</string>
			<string>47－The Great Escape.mp3</string>
			<string>48－Planning a Share Portfolio.mp3</string>
		</array>
	</dict>
</array>
</plist>
