<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>001&amp;002－Excuse Me</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>003&amp;004－Sorry, Sir</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>005&amp;006－Nice to Meet You</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>007&amp;008－Are You a Teacher</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>009&amp;010－How Are You Today</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>011&amp;012－Is This Your Shirt</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>013&amp;014－A New Dress</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>015&amp;016－Your Passports, Please</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>017&amp;018－How do you do</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>019&amp;020－Tired and Thirsty</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>021&amp;022－Which Book</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>023&amp;024－Which Glasses</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>025&amp;026－Mrs</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>027&amp;028－Mrs</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>029&amp;030－Come In, Amy</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>031&amp;032－Where's Sally</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>033&amp;034－A Fine Day</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>035&amp;036－Our Village</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>037&amp;038－Making a Bookcase</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>039&amp;040－Don't Drop It</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>041&amp;042－Penny's Bag</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>043&amp;044－Hurry Up</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>045&amp;046－The Boss's Letter</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>047&amp;048－A Cup of Coffee</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>049&amp;050－At the Butcher's</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>051&amp;052－A Pleasant Climate</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>053&amp;054－An Interesting Climate</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>055&amp;056－The Sawyer Family</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>057&amp;058－An Unusual Day</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>059&amp;060－Is That All</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>061&amp;062－A Bad Cold</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>063&amp;064－Thank You, Doctor</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>065&amp;066－Not a Baby</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>067&amp;068－The Weekend</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>069&amp;070－The Car Race</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>071&amp;072－He's Awful</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>073&amp;074－The Way to King Street</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>075&amp;076－Uncomfortable Shoes</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>077&amp;078－Terrible Toothache</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>079&amp;080－Carol's Shopping List</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>081&amp;082－Roast Beef and Potatoes</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>083&amp;084－Going on Holiday</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>085&amp;086－Paris in the Spring</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>087&amp;088－A Car Crash</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>089&amp;090－For Sale</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>091&amp;092－Poor Ian</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>093&amp;094－Our New Neighbour</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>095&amp;096－Tickets, Please</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>097&amp;098－A Small Blue Case</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>099&amp;100－Ow</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>101&amp;102－A Card From Jimmy</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>103&amp;104－The French Test</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>105&amp;106－Full of Mistakes</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>107&amp;108－It's Too Small</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>109&amp;110－A Good Idea</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>111&amp;112－The Most Expensive Model</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>113&amp;114－Small Change</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>115&amp;116－Knock, Knock</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>117&amp;118－Tommy's Breakfast</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>119&amp;120－A True Story</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>121&amp;122－The Man in a Hat</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>123&amp;124－A Trip to Australia</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>125&amp;126－Tea for Two</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>127&amp;128－A Famous Actress</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>129&amp;130－Seventy Miles an Hour</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>131&amp;132－Don't be So Sure</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>133&amp;134－Sensational News</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>135&amp;136－The Latest Report</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>137&amp;138－A Pleasant Dream</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>139&amp;140－Is That You, John</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>141&amp;142－Sally's First Train Ride</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>143&amp;144－A Walk Through the Woods</string>
	</dict>
</array>
</plist>
