<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>downloadProgress</key>
		<integer>1</integer>
		<key>downloading</key>
		<integer>1</integer>
		<key>mp3URL</key>
		<string>/Users/yinyanhui/Library/Developer/CoreSimulator/Devices/0DC05701-F520-4586-8832-D5D11385883B/data/Containers/Bundle/Application/375DA876-94A0-4671-BEB5-BEB7B105A20D/SYPlayer.app/第二册/01－A Private Conversation.mp3</string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>01－A Private Conversation</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>1</integer>
		<key>downloading</key>
		<integer>1</integer>
		<key>mp3URL</key>
		<string>/Users/yinyanhui/Library/Developer/CoreSimulator/Devices/0DC05701-F520-4586-8832-D5D11385883B/data/Containers/Bundle/Application/375DA876-94A0-4671-BEB5-BEB7B105A20D/SYPlayer.app/第二册/02－Breakfast or Lunch.mp3</string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>02－Breakfast or Lunch</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>1</integer>
		<key>downloading</key>
		<integer>1</integer>
		<key>mp3URL</key>
		<string>/Users/yinyanhui/Library/Developer/CoreSimulator/Devices/0DC05701-F520-4586-8832-D5D11385883B/data/Containers/Bundle/Application/375DA876-94A0-4671-BEB5-BEB7B105A20D/SYPlayer.app/第二册/03－Please Send Me a Card.mp3</string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>03－Please Send Me a Card</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>1</integer>
		<key>downloading</key>
		<integer>1</integer>
		<key>mp3URL</key>
		<string>/Users/yinyanhui/Library/Developer/CoreSimulator/Devices/0DC05701-F520-4586-8832-D5D11385883B/data/Containers/Bundle/Application/375DA876-94A0-4671-BEB5-BEB7B105A20D/SYPlayer.app/第二册/04－An Exciting Trip.mp3</string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>04－An Exciting Trip</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>1</integer>
		<key>downloading</key>
		<integer>1</integer>
		<key>mp3URL</key>
		<string>/Users/yinyanhui/Library/Developer/CoreSimulator/Devices/0DC05701-F520-4586-8832-D5D11385883B/data/Containers/Bundle/Application/375DA876-94A0-4671-BEB5-BEB7B105A20D/SYPlayer.app/第二册/05－No Wrong Numbers.mp3</string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>05－No Wrong Numbers</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>06－Percy Buttons</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>07－Too Late</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>08－The Best and the Worst</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>09－A Cold Welcome</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>10－Not for Jazz</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>11－One Good Turn Deserves Another</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>12－Goodbye and Good Luck</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>13－The Greenwood Boys</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>14－Do You Speak English</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>15－Good News</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>16－A Polite Request</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>17－Always Young</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>18－He Often does This</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>19－Sold Out</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>20－One Man in a Boat</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>21－Mad or Not</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>22－A Glass Envelope</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>23－A New House</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>24－It Could be Worse</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>25－Do the English Speak English</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>26－The Best Art Critics</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>27－A Wet Night</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>28－No Parking</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>29－Taxi</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>30－Football or Polo</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>31－Success Story</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>32－Shopping Made Easy</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>33－Out of the Darkness</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>34－Quick Work</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>35－Stop Thief</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>36－Across the Channel</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>37－The Olympic Games</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>38－Everything Except the Weather</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>39－Am I All Right</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>40－Food and Talk</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>41－Do You Call That a Hat</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>42－Not Very Musical</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>43－Over the South Pole</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>44－Through the Forest</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>45－A Clear Conscience</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>46－Expensive and Uncomfortable</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>47－A Thirsty Ghost</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>48－Did You Want to Tell Me Something</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>49－The End of a Dream</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>50－Taken for a Ride</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>51－Reward for Virtue</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>52－A Pretty Carpet</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>53－Hot Snake</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>54－Sticky Fingers</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>55－Not a Gold Mine</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>56－Faster Than Sound</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>57－Can I Help You, Madam</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>58－A Blessing in Disguise</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>59－In or Out</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>60－The Future</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>61－Trouble with the Hubble</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>62－After the Fire</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>63－She Was Not Amused</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>64－The Channel Tunnel</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>65－Jumbo Versus the Police</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>66－Sweet as Honey</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>67－Volcanoes</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>68－Persistent</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>69－But not Murder</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>70－Red for Danger</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>71－A Famous Clock</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>72－A Car Called Bluebird</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>73－The Record-Holder</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>74－Out of the Limelight</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>75－SOS</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>76－April Fools' Day</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>77－A Successful Operation</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>78－The Last One</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>79－By Air</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>80－The Crystal Palace</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>81－Escape</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>82－Monster or Fish</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>83－After the Elections</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>84－On Strike</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>85－Never Too Old To Learn</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>86－Out of Control</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>87－A Perfect Alibi</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>88－Trapped in a Mine</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>89－A Slip of the Tongue</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>90－What's for Supper</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>91－Three Men in a Basket</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>92－Asking for Trouble</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>93－A Noble Gift</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>94－Future Champions</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>95－A Fantasy</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>96－The Dead Return</string>
	</dict>
</array>
</plist>
