<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>01－Finding Fossil Man</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>02－Spare That Spider</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>03－Matterhorn Man</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>04－Seeing Hands</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>05－Youth</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>06－The Sporting Spirit</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>07－Bats</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>08－Trading Standards</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>09－Royal Espionage</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>10－Silicon Valley</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>11－How to Grow Old</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>12－Banks and Their Customers</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>13－The Search for Oil</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>14－The Butterfly Effect</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>15－Secrecy in Industry</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>16－The Modern City</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>17－A Man-made Disease</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>18－Porpoises</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>19－The Stuff of Dreams</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>20－Snake Poison</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>21－William S</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>22－Knowledge and Progress</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>23－Bird Flight</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>24－Beauty</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>25－Non-Auditory Effects of Noise</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>26－The Past Life of the Earth</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>27－The vasa</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>28－Patients and Doctors</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>29－The Hovercraft</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>30－Exploring the Sea-Floor</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>31－The Sculptor Speaks</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>32－Galileo Reborn</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>33－Education</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>34－Adolescence</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>35－Space Odyssey</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>36－The Cost of Government</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>37－The Process of Ageing</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>38－Water and the Traveller</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>39－What Every Writer Wants</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>40－Waves</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>41－Training Elephants</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>42－Recording an Earthquake</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>43－Are There Strangers in Space</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>44－Patterns of Culture</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>45－Of Men and Galaxies</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>46－Hobbies</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>47－The Great Escape</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>48－Planning a Share Portfolio</string>
	</dict>
</array>
</plist>
