<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>01－A Puma at Large</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>02－Thirteen Equals One</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>03－An Unknown Goddess</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>04－The Double Life of Alfred Bloggs</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>05－The Facts</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>06－Smash-and-Grab</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>07－Mutilated Ladies</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>08－A Famous Monastery</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>09－Flying Cats</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>10－The Loss of the Titanic</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>11－Not Guilty</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>12－Life on a Desert Island</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>13－It's Only Me</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>14－A Noble Gangster</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>15－Fifty Pence Worth of Trouble</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>16－Mary Had a Little Lamb</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>17－The Longest Suspension Bridge in the World</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>18－Electric Currents in Modern Art</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>19－A Very Dear Cat</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>20－Pioneer Pilots</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>21－Daniel Mendoza</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>22－By Heart</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>23－One Man's Meat is Another Man's Poison</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>24－A Skeleton in the Cupboard</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>25－The Cutty Sark</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>26－Wanted a Large Biscuit Tin</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>27－Nothing to Sell and Nothing to Buy</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>28－Five Pounds Too Dear</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>29－Funny or Not</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>30－The Death of a Ghost</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>31－A Lovable Eccentric</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>32－A Lost Ship</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>33－A Day to Remember</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>34－A Happy Discovery</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>35－Justice was Done</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>36－A Chance in a Million</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>37－The Westhaven Express</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>38－The First Calendar</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>39－Nothing to Worry About</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>40－Who's Who</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>41－Illusions of Pastoral Peace</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>42－Modern Cavemen</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>43－Fully Insured</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>44－Speed and Comfort</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>45－The Power of the Press</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>46－Do It Yourself</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>47－Too High a Price</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>48－The Silent Village</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>49－The Ideal Servant</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>50－New Year Resolutions</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>51－Predicting the Future</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>52－Mud is Mud</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>53－In the Public Interest</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>54－Instinct or Cleverness</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>55－From the Earth Greetings</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>56－Our Neighbour, the River</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>57－Back in the Old Country</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>58－A Spot of Bother</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>59－Collecting</string>
	</dict>
	<dict>
		<key>downloadProgress</key>
		<integer>0</integer>
		<key>downloading</key>
		<integer>0</integer>
		<key>mp3URL</key>
		<string></string>
		<key>playing</key>
		<false/>
		<key>songName</key>
		<string>60－Too Early and Too Late</string>
	</dict>
</array>
</plist>
